li { list-style-type: square }
span#cena { 
	color: red; 
	font-weight: bold; 
	}
.wstęp {
	font-style: italic;
}
td:first-child img {
	border-style: solid;
	border-color: blue;
}
td:first-child img:hover {
	border-style: solid;
	border-color: red;
}
h1+h2 {
	letter-spacing: 5px;
}
td[colspan="2"]>p{
	font-size: small;
}
p+p {
	color: grey;
}
body {
	background-image: url(https://i.guim.co.uk/img/media/d305370075686a053b46f5c0e6384e32b3c00f97/0_50_5231_3138/master/5231.jpg?width=465&quality=45&auto=format&fit=max&dpr=2&s=c83f68b473db6bb72cd8d50beb04addc); 
	background-repeat: repeat-y;
	background-size: 6%;
}
h1 {
	color: blue
}
h1 {
	color: green
}
