<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    @{
        var rules = new List<string>();
        if (Session["rules"] != null)
        {
            rules = (List<string>)Session["rules"];
        }
    }
    <form method="post" action="~/Redirect.cshtml">
        <label for="rule">Rule:</label>
        <input type="text" name="rule" /><br /><br />
        <input type="submit" value="Submit" /><br />
    </form><br />
    <ol>
        @foreach (var rule in rules)
        {
            <li>@rule</li>
        }
    </ol>
</body>
</html>
